body {
    background-image: url(../images/morocco.png);
}

.navbar {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background: #ffffff;
    border: #cccccc;
    width: 100%;
    height: 70px;
    position: relative;
    margin: 20px;
}

hr {
    color: #afc3df;
    width: 950px;
}

h1 {
    padding: 10px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#me {
    padding: 10px;
    float: left;
}

p {
    padding: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
    width: 960px;
    background: #ffffff;
    margin: auto;
}

#name {
    background: #4aaaa5;
    position: absolute;
    bottom: 0;
    left: 20%;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: center;
}

.pages {
    position: absolute;
    bottom: 0;
    right: 20%;
}

a {
    text-decoration: none;
    color: #afc3df;
}

.p_about {
    float: left;
    margin: 10px;
}

.p_portfolio {
    float: left;
    margin: 10px;
}

.p_contact {
    float: left;
    margin: 10px;
}

.tile-container {
    width: 960px;
    background: #ffffff;
    margin: auto;
    overflow: auto;
}

.tile {
    width: 200px;
    margin: 30px;
    position: relative;
}

.tile_img {
    width: 200px;
    height: 200px;
}

.tile-title {
    width: 100%;
    background: #4aaaa5;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
}

.tile1 {
    float: left;
    margin: 30px;
}

.tile2 {
    float: left;
    margin: 30px;
}

.tile3 {
    float: left;
    margin: 30px;
}

.tile4 {
    float: left;
    margin: 30px;
}

.tile5 {
    float: left;
    margin: 30px;
}

.tile6 {
    float: left;
    margin: 30px;
}

label {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
footer {
    background: #666666;
    text-align: center;
    margin: 20px;
}